<!-- This is for the Information on a Placement -->
<div class="container" id="PlacementDetails">
  <!-- Added in a nifty image of the Company Logo -->
  <img src="./images/companylogos/pwc.jpg" alt="Logo">
  <h5 class="placementTitle"><%= placement.Title%> - <%= placement.CompanyName%></h5>
  <!-- This is where all the content will go for the Placement-->
    <div class="row">
        <div class="col-md-8">
          <h6><u>About <span id="companyname"><%= placement.CompanyName%></span>:</u></h6>
          <p><%=company.About%></p>
          <h6><u>Your Role: </u></h6>
          <p><%=placement.Role%></p>
          <h6><u>Requirements: </u></h6>
          <ul>
          <% placement.Requirements.forEach(function(result){ %>
      				<!--ForEach Placement that matches the search, pass the result to generate a new card.-->
      				<li><%= result%> </li>
      		<% }); %>
          </ul>
      </div>
  <!-- Here is a nice map to show where the Company is located -->
      <div class="col-md-4 col-sm-12">
        <p class="lead">Location of Placement</p>
        <div id="placeMap" class="pull-right mapObject"></div>
        </div>
  <!-- This is where the Apply Button is, once clicked it will redirect the user to a certain external webpage -->
        <button type="button" class="applyButton" style="float:left;" id="<%= placement._id%>">Apply Now!</button>
        <script>var id = "<%= placement._id %>";</script>
</div>
