<!--
    Author: Liam Cottrell,
    Purpose: Card Template that will generate a card from an objects values for placement Search page
-->
<div class="col-lg-12 searchResults">
    <a href=/placementinfo?_id=<%= placement._id %>>
        <br>
        <h4><%= placement.Title %> - <%= placement.CompanyName %></h4>
        <h5><span class="badge badge-pill badge-success">5 months</span></h5>
        <h6><%= placement.About %></h6>
        <p>Location: <%= placement.City %></p>
        <p>Pay: <%= placement.Pay %> </p>
        <hr>
    </a>
</div>
